{{- define "main" -}}

<!-- {{ $homepage := "Home" }} -->
{{ with .Site.Menus.nav }}
  {{ range first 1 . }}
    {{ $homepage = .Name }}
  {{ end }}
{{ end }}


<div class="container-fluid" style="margin-top:.5em">
  <h4>News</h4>
  {{ range .Pages.ByDate.Reverse }}
  <div class="card px-0" style="margin-top:.5em; margin-bottom:.5em;">
    <div class="card-body pb-0">
      <div class="row">
      <div class="col-3"><h6 class="card-title">{{.Params.Date.Format "Jan 2, 2006"}}</h6></div>
      <div class="col-9"><h6 class="card-title">{{.Title}}</h6></div>
      </div>
      {{.Content}}
    </div>
  </div>
  {{ end }}
</div>


{{- end -}}
